@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #222222;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: #56f373;
    font-size: 3rem;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #555555;
}
.ring::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid #56f373;
    border-right: 5px solid #56f373;
    animation: animate 2s linear infinite;
}
.ring span{
    position: absolute;
    width: 50%;
    height: 10px;
    left: 50%;
    background:transparent;
    transform-origin: left;
    animation: animateCircle 2s linear infinite;
}
.ring span::after{
    content: '';
    position: absolute;
    right: -10px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #56f373;
    box-shadow: 0 0 25px #56f373;
}

@keyframes animate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes animateCircle {
    0%{transform: rotate(45deg);}
    100%{transform: rotate(405deg);}
}